<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Signup</h1>
    <br />
    <form action="/signup" method="post">
      <label for="name">Name:</label>
      <input type="text" name="user[name]" id="name" />
      <br />
      <label for="emailid">EmailId:</label>
      <input type="email" name="user[emailid]" id="emailid" />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="user[password]" id="password" />
      <br />
      <label for="contact">Contact:</label>
      <input type="text" name="user[contact]" id="contact" />
      <br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
